$color-orange: rgb(181, 68, 63);
$color-red:rgb(130, 51, 62);
$color-blue: rgb(2, 37, 95);
$color-gray: rgb(57, 87, 86);
$color-purple: rgb(137, 55, 83);
body {
  // background-color: #25143e;
  // background-color: rgb(70, 40, 114);
  background-color: rgb(50, 27, 85);
}
/* make a button transparent */
.clear {
  border: none;
  background-color: #ffffff00;
}
.navOffset {
  margin-bottom: 10vh;
}
button {
  border: none;
  border-radius: 5px 5px 5px 5px;
  transition: 0.5s;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)) top/100% 800%;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
button:hover {
  background-position: bottom;
}
h1 {
  text-align: center;
}
@media (prefers-color-scheme: light) {
  .lds-ellipsis div {
    background: rgb(127, 132, 142);
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  .lds-ellipsis div {
    background: #fff;
  }
}
.lds-ellipsis {
  position: absolute;
  top: 50vh; /* position the top  edge of the element at the middle of the parent */
  left: 50vw; /* position the left edge of the element at the middle of the parent */

  transform: translate(-50%, -50%);
  z-index: 5;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@font-face {
  font-family: Hacked;
  src: url(https://hackedfont.com/HACKED.ttf);
}
.responsive {
  width: 100%;
  height: auto;
}

.yellow {
  background-color: rgb(238, 188, 123);
}
.lightblue {
  background-color: rgb(47, 208, 218);
}
.green {
  background-color: rgb(58, 183,   85);
}
.pink {
  background-color: rgb(159, 76, 105);
}
.orange {
  background-color: $color-orange;
}
.red {
  background-color: $color-red;
}
.blue{
  background-color: $color-blue;
}
.gray {background-color: $color-gray; }

.purple{background-color: $color-purple;}